<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.aprilsxz.blog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="fun.aprilsxz.blog.domain.po.Category">
            <id property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryParent" column="category_parent" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name,category_parent,is_interrupt
    </sql>
    <select id="queryById" resultType="fun.aprilsxz.blog.domain.po.Category">
        WITH RECURSIVE SubTree AS (
            -- 初始查询，选取起始节点
            SELECT category_id, category_parent,category_name,is_interrupt
            FROM category
            WHERE category_id = #{categoryId}
            UNION ALL
            -- 递归部分，关联子节点
            SELECT t.category_id, t.category_parent,t.category_name,t.is_interrupt
            FROM category t
                     JOIN SubTree st ON t.category_parent = st.category_id
        )
        SELECT * FROM SubTree;
    </select>
</mapper>
