<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.aprilsxz.blog.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="fun.aprilsxz.blog.domain.po.Comment">
            <id property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="commentParent" column="comment_parent" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
            <result property="commentReply" column="comment_reply" jdbcType="VARCHAR"/>
            <result property="linkId" column="linked_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,comment_parent,user_id,
        comment_content,comment_reply,link_id,
        created_time
    </sql>
    <select id="queryComment" resultType="fun.aprilsxz.blog.domain.vo.CommentVO">
        select c.comment_id,c.comment_parent, c.link_id, c.comment_content, c.create_time, u.user_id, u.nickname, u.avatar
        from comment c, user u
        where c.link_id = #{linkedId} and c.user_id = u.user_id and c.comment_parent = 0
    </select>
    <select id="selectBatchParentIds" resultType="fun.aprilsxz.blog.domain.vo.CommentVO">
        select c.comment_id,c.comment_parent, c.link_id, c.comment_content, c.create_time, u.user_id, u.nickname, u.avatar
        from comment c, user u
        where c.user_id = u.user_id and comment_parent in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>
