@font-face {
  font-family: "element-icons"; /* Project id 4750550 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1733709463928') format('woff2'),
       url('iconfont.woff?t=1733709463928') format('woff'),
       url('iconfont.ttf?t=1733709463928') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-tupian1:before {
  content: "\e8ba";
}

.el-icon-tupian2:before {
  content: "\ec8d";
}

.el-icon-pinglun1:before {
  content: "\e7bf";
}

.el-icon-pinglun2:before {
  content: "\e63a";
}

.el-icon-dianzan1:before {
  content: "\e600";
}

.el-icon-dianzan2:before {
  content: "\ec8c";
}

.el-icon-xihuan2:before {
  content: "\e870";
}

.el-icon-xihuan1:before {
  content: "\e86f";
}

